<div class="calculadora" >
  <form action="#" name="calculadora" id="calculadora" class="formCalcule">
  <div class="textoPantalla">



    <ng-container *ngIf="operation.length<9; else elseTemplate">
      <p class="operation" >{{operation}}
    </ng-container>
    <ng-template #elseTemplate>
      <p class="operationMin" >{{operation}}
    </ng-template>

    <p class="result">{{result}}</p>

  </div>

  <p>

      <input type="button" class="largo clear" value="CE" (click)="clear()"   />
      <input type="button" class="largo" value="C"  (click)="deleteLast()"   />
      <input type="button" value="="class="largo"  (click)="calculate()"    />
  </p>
  <p>
      <input type="button" value="7"  (click)="appendNumber(7)"     />
      <input type="button" value="8"  (click)="appendNumber(8)"    />
      <input type="button" value="9"  (click)="appendNumber(9)"     />
      <input type="button" value="/" class="operator"    (click)="appendOperator('/')"    />
  <p>
      <input type="button" value="4" (click)="appendNumber(4)" />
      <input type="button" value="5" (click)="appendNumber(5)" />
      <input type="button" value="6" (click)="appendNumber(6)" />
      <input type="button" value="*"  class="operator" (click)="appendOperator('*')"  />

  </p>
  <p>
      <input type="button" value="1" (click)="appendNumber(1)"   />
      <input type="button" value="2" (click)="appendNumber(2)"   />
      <input type="button" value="3"   (click)="appendNumber(3)" />
      <input type="button" value="-"  class="operator"  (click)="appendOperator('-')"   />

  </p>
  <p>
      <input type="button" value="0" (click)="appendNumber(0)"  />

      <input type="button" value="."   />
      <input type="button" value="+"  class="operator"   (click)="appendOperator('+')"  />
      <input type="button" value="%"   class="operator"  />
  </p>
  </form>
</div>
